<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Afficher la liste des clients</title>
</head>
<body>

<header>
<h1>La florentina</h1>

</header>

<nav>
    <h2>Pizzeria</h2>
    <ul>
        <li><a href="http://localhost:8080/AjoutClient.html">Ajout</a></li>
        <li><a href="http://localhost:8080/">Retour à l'accueil</a></li> 
    </ul>
    
</nav>

<aside>
    <h3>Liste des clients</h3>
    
</aside>
<section>
    <form method="GET" action="/clients">
        <table class="table">
        <tr>
        	<td>id</td>
        	<td>nom </td>
        	<td>prenom</td>
        	<td>ville</td>
        	<td>age</td>
        </tr>
     PARTIE_VARIABLE
    </table>
        </form>

</section>

<footer>
    <p>
    
    </p>
</footer>
</body>
</html>