<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ajouter un nouveau livreur</title>
</head>
<body>
<header><h1>Gestion des livreurs</h1></header>
<h2>Création d'un livreur</h2>
<form method = "POST" action = "/ajouter_livreur">
<table>
<tr>
<td> <label for = "nom">Nom :</label> </td>
<td> <input type = "text" name = "nom"></td>
</tr>
<tr>
<td> <label for = "prenom">Prénom :</label> </td>
<td> <input type = "text" name = "prenom"></td>
</tr>

<tr>
<td>
</td>
<td>
<input type = "submit" value = "Ajouter">
</td>
</tr>
</table>
</form>
<input type ="hidden">
</body>
</html>