<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ajouter une nouvelle pizza</title>
</head>
<body>
<header><h1>Gestion des pizza</h1></header>
<h2>Création d'un client</h2>
<form method = "POST" action = "/ajouter_pizza">
<table>
<tr>
<td> <label for = "libelle">Libelle :</label> </td>
<td> <input type = "text" name = "libelle"></td>
</tr>
<tr>
<td> <label for = "reference">Référence :</label> </td>
<td> <input type = "text" name = "reference"></td>
</tr>
<tr>
<td> <label for = "prix">Prix :</label> </td>
<td> <input type = "text" name = "prix"></td>
</tr>
<tr>
<td> <label for = "photo">Photo :</label> </td>
<td> <input type = "text" name = "photo"></td>
</tr>
<tr>
<td>
</td>
<td>
<input type = "submit" value = "Ajouter">
</td>
</tr>
</table>
</form>
<input type ="hidden">
</body>
</html>