<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Gestion des clients</title>
  </head>
  <body>
    <header>
      <h1>Gestion des clients</h1>
    </header>
    <main>
    	<nav>
    		<a href="/client">Ajout</a> / <a href="/">Retour à l'accueil</a>
    	</nav>
      <section>
        <h2>Liste des clients</h2>
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>NOM</th>
              <th>Prénom</th>
              <th>Ville</th>
              <th>Age</th>
            </tr>
          </thead>
          <tbody>
          	LIGNES_DES_CLIENTS_ICI
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>