<!doctype html>
<html lang="fr">

<head>
<meta charset="UTF-8">

<title>Gestion des clients</title>
</head>
<body>
	<header>
		<h1>Gestion des clients</h1>
	</header>

	<main>
	<p>
		<a href="gestion-clients.html">Ajout</a> / <a href="javascript:window.history.back();"> Retour à l'accueil</a>
	</p>

	<h2>Liste des clients</h2>

	<table>
		<tr>
			<th>Id</th>
			<th>Nom</th>
			<th>Prenom</th>
			<th>Ville</th>
			<th>Age</th>
		
		</tr>
		
		CLIENTAJOUT

	</table>

	     
	</main>
	

</body>
</html>