<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
</head>
<body>
	<header>
		<h1>Gestion des livreurs</h1>
		<nav>
			<a href="/livreurs">ajout d'un livreur</a> / <a href="/">Accueil</a>
		</nav>
	</header>
	<main>
	<section>
		<h2>Liste des Livreurs</h2>
		<table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>                   
                </tr>
            </thead>
            <tbody>
                LISTE_DE_LIVREUR_ICI
            </tbody>

        </table>
	</section>

	</main>
</body>
</html>