<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
</head>
<body>
	<header>
		<h1>Gestion des pizzas</h1>
		<nav>
			<a href="/clients">ajout d'une pizza</a> / <a href="/">Accueil</a>
		</nav>
	</header>
	<main>
	<section>
		<h2>Liste des pizzas</h2>
		<table>
            <thead>
                <tr>
                    <th>Id.</th>
                    <th>Libellé</th>
                    <th>Référence</th>
                    <th>Prix</th>
                    <th>Photo</th>
                </tr>
            </thead>
            <tbody>
                LISTE_DE_PIZZA_ICI
            </tbody>

        </table>
	</section>

	</main>
</body>
</html>