<!doctype html>
<html lang="fr">

<head>
<meta charset="UTF-8">

<title>Gestion des livreurs</title>
</head>
<body>
	<header>
		<h1>Gestion des livreurs</h1>
	</header>

	<main>
	<p>
		<a href="gestion_livreur.html">Ajout</a> / <a href="javascript:window.history.back();"> Retour à l'accueil</a>
	</p>

	<h2>Liste des Livreurs</h2>

	<table>
		<tr>
			<th>Id</th>
			<th>Nom</th>
			<th>Prenom</th>
		
		
		</tr>
		
		LIVREURAJOUT

	</table>

	     
	</main>
	

</body>
</html>