<!doctype html>
<html lang="fr">

<head>
<meta charset="UTF-8">

<title>Gestion des livreurs</title>
</head>
<body>
	<header>
		<h1>Gestion des livreurs</h1>
	</header>

	<main>
	<h2>Création d'un livreur</h2>



	<form method="POST" action="/livreurs">
		<p>
			Nom : <input type="text" name="nom" />
		</p>
		<p>
			Prénom : <input type="text" name="prenom" />
		</p>

			<input type="submit" value="Valider">
			
		</p>

AREMPLACER

	</form>
	
	    <a href="javascript:window.history.back();">Retour</a>
	</main>

</body>
</html>