<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Gestion des livreurs</title>
  </head>
  <body>
    <header>
      <h1>Gestion des livreurs</h1>
    </header>
    <main>
    	<nav>
    		<a href="/livreur">Ajout</a> / <a href="/">Retour à l'accueil</a>
    	</nav>
      <section>
        <h2>Liste des livreurs</h2>
        <table>
          <thead>
            <tr>
              <th>NOM</th>
              <th>Prénom</th>
            </tr>
          </thead>
          <tbody>
          	LIGNES_DES_LIVREURS_ICI
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>