<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link href="reset-style.css" rel="stylesheet" type="text/css">
        <link href="index-style.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab" rel="stylesheet">
        <title>La Florentina - pizza</title>
</head>
	<body>
	
		<div id="content">
		    <main>
			    
			    <section>
			  	  <div>CodeNvPizza</div>
				</section>
				
				<section>
					CodeListePizzas
				</section>
					
			    <br>
			    <br>
			    <a href="index.html">Retour</a>
	    	
	    	</main>
	    	
	    </div>
	    
	</body>

</html>