<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Gestion des pizzas</title>
  </head>
  <body>
    <header>
      <h1>Gestion des pizzas</h1>
    </header>
    <main>
    	<nav>
    		<a href="/pizza">Ajout</a> / <a href="/">Retour à l'accueil</a>
    	</nav>
      <section>
        <h2>Liste des pizzas</h2>
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Libellé</th>
              <th>Référence</th>
              <th>Prix</th>
              <th>Photo</th>
            </tr>
          </thead>
          <tbody>
          	LIGNES_DES_PIZZAS_ICI
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>