<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Supprimer pizza</title>
</head>
<body>
<header><h1>Gestion des pizza</h1></header>
<h2>Suppression d'une pizza</h2>
<form method = "POST" action = "/supprimer_pizza">
<table>
<tr>
<td> <label for = "id">ID de la pizza à supprimer :</label> </td>
<td> <input type = "text" name = "id"></td>
</tr>

<tr>
<td>
</td>
<td>
<input type = "submit" value = "Supprimer">
</td>
</tr>
</table>
</form>
<input type ="hidden">
</body>
</html>