<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF8" />
        <title> Gestion des clients</title>
    </head>
    <body>
    <h1>Gestion des clients</h1>
    <ul>
        <li><a href = "FormClients.html">Ajout </a></li>
        <li><a href = "index.html">Retour à l'accueil </a></li>
    </ul>
    <h2>Liste des clients</h2>
    <table><tr>
    		<td><strong>Id</strong></td>
    		<td><strong>Nom</strong></td>
    		<td><strong>Prénom</strong></td>
    		<td><strong>Ville</strong></td>
    		<td><strong>Age</strong></td>
    	</tr>
    ListeClientsARemplacer</table>
    </body>
</html>