<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF8" />
        <title> Gestion des livreurs</title>
    </head>
    <body>
    <h1>Gestion des livreurs</h1>
    <ul>
        <li><a href = "FormLivreurs.html">Ajout </a></li>
        <li><a href = "index.html">Retour à l'accueil </a></li>
    </ul>
    <h2>Liste des livreurs</h2>
    <table><tr>
    		<td><strong>Id</strong></td>
    		<td><strong>Nom</strong></td>
    		<td><strong>Prénom</strong></td>
    	</tr>
    ListeLivreursARemplacer</table>
    </body>
</html>