<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF8" />
        <title> Gestion des pizzas</title>
    </head>
    <body>
    <h1>Gestion des pizzas</h1>
    <ul>
        <li><a href = "FormPizzas.html">Ajout </a></li>
        <li><a href = "index.html">Retour à l'accueil </a></li>
    </ul>
    <h2>Liste des pizzas</h2>
    <table><tr>
    		<td><strong>Id</strong></td>
    		<td><strong>Libellé</strong></td>
    		<td><strong>Référence</strong></td>
    		<td><strong>Prix</strong></td>
    		<td><strong>Image</strong></td>
    	</tr>
    ListePizzasARemplacer</table>
    </body>
</html>