html {
	font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}

body{
    color:#d6d6d6;
    font-size: 1.6rem;
    background:#1c1c1c;
    
}

a {
	text-decoration: none;
    color: #86c383;
}

h1 {
    font-size: 8rem;
    font-family: 'Roboto Slab', serif;
}

h2 {
	font-size: 2.5rem;
    line-height: 5rem;
}


.titre  {
	font-size:3.3rem;
	    margin-bottom: 50px;
}

.titre span {
	color: #c35757;
}

nav {
	    margin: 20px 0;
}

nav li {
	display:inline-block;
}

nav li + li {
	display:inline-block;
	margin-left: 30px;
}



nav a {
	letter-spacing: 0.1rem;
	
    text-transform: uppercase;
}

nav a:hover{

    color: #c3b068;
    
}

#content {
	margin: 50px auto;
	max-width: 960px;
	
}

main {
	line-height: 2rem;
	margin: 50px 0;
}

article {
	margin: 20px 0;
}

.form-creer-client input {
	height: 30px;
}
    
    
    footer a {
    	color:#864242;
    }


